<header class="w-full bg-white ">
    <div class="border-b border-super-light-grey py-[27px]">
        <div class="container overflow-hidden">
            <div class="grid grid-cols-12 gap-x-8">
                <div class="col-span-2 flex items-center">
                    <a href="index.html">
                        <img src="img/Main-logo.svg" alt="1SaleRx Logo">
                    </a>
                </div>
                <div class="col-span-8 flex items-center">
                    @@include('Search-bar.html')
                </div>
                <div class="col-span-2 flex items-center">
                    <div class="flex items-center gap-x-5">
                        <i class="Telephone-icon"></i>
                        <div class="flex flex-col items-start gap-y-1">
                            <span class="uppercase text-grey text-Body8">SUPPORT CLIENT</span>
                            <a class="font-semibold text-Body transition hover:text-yellow" href="tel:+16361234567">636 123 - 4567</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container overflow-hidden">
        <div class="grid grid-cols-12 gap-x-8">
            <div class="col-span-12">
                <nav class="pt-4 mega-menu">
                    <ul class="flex items-center gap-x-8">
                        <li class="mega-menu__items active pb-[18px] ">
                            <a class="flex items-center gap-x-2" href="#">
                                <i class="Home-icon"></i>
                                <span class="text-Body">Home</span>
                            </a>
                        </li>
                        <li class="mega-menu__line">
                            <span class="h-[30px] border-l border-super-light-grey block"></span>
                        </li>
                        <li class="mega-menu__items pb-[18px]">
                            <a class="flex items-center gap-x-2" href="#">
                                <i class="Products-icon"></i>
                                <span class="text-Body">Products</span>
                            </a>
                        </li>
                        <li class="mega-menu__line">
                            <span class="h-[30px] border-l border-super-light-grey block"></span>
                        </li>
                        <li class="mega-menu__items pb-[18px]">
                            <a class="flex items-center gap-x-2" href="#">
                                <i class="About-icon"></i>
                                <span class="text-Body">About Us</span>
                            </a>
                        </li>
                        <li class="mega-menu__line">
                            <span class="h-[30px] border-l border-super-light-grey block"></span>
                        </li>
                        <li class="mega-menu__items pb-[18px]">
                            <a class="flex items-center gap-x-2" href="#">
                                <i class="FAQ-icon"></i>
                                <span class="text-Body">FAQ</span>
                            </a>
                        </li>
                        <li class="mega-menu__line">
                            <span class="h-[30px] border-l border-super-light-grey block"></span>
                        </li>
                        <li class="mega-menu__items pb-[18px]">
                            <a class="flex items-center gap-x-2" href="#">
                                <i class="Contact-icon"></i>
                                <span class="text-Body">Contact Us</span>
                            </a>
                        </li>
                        <li class="mega-menu__line">
                            <span class="h-[30px] border-l border-super-light-grey block"></span>
                        </li>
                        <li class="mega-menu__items pb-[18px]">
                            <a class="flex items-center gap-x-2" href="#">
                                <i class="Blog-icon"></i>
                                <span class="text-Body">Blog</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>