<div class="flex flex-col h-[542px] hover:shadow-color-1 p-5 bg-white outline-1 outline-dashed outline-light-grey transition rounded @@style">
    <div class="flex items-center justify-center mb-4 overflow-hidden min-h-[275px] h-[275px]">
        <img class="object-cover" src="@@img" alt="@@alt">
    </div>
    <div class="flex flex-col items-start h-full">
        <span class="block mb-1 text-primary font-semibold text-H2">@@title</span>
        <p class="block mb-6 text-Body6 text-grey">@@dosage</p>
        <div class="flex items-center uppercase gap-x-2">
            <span class="text-grey text-H2 line-through">@@oldPrice</span>
            <span class="text-primary font-semibold text-topTitle">@@price</span>
        </div>
        <div class="mt-6 mb-8 flex items-center justify-between w-full">
            <span class="block min-w-14 w-14 h-1 bg-yellow mr-3"></span>
            <span class="block w-full border-t border-grey-2"></span>
        </div>
        @@include('Link.html', {
        'style': 'flex btn-medium w-full mt-auto',
        'url': '@@link',
        'title': 'button'
        })
    </div>
</div>