.About-icon {
  background: url("../img/icon/About.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.add-icon {
  background: url("../img/icon/add.svg");
  @apply block h-[16px] w-[16px] bg-100-auto bg-center bg-no-repeat;
}

.Arrow-direction-left-icon {
  background: url("../img/icon/Arrow-direction-left.svg");
  @apply block h-[16px] w-[16px] bg-100-auto bg-center bg-no-repeat;
}

.Arrow-direction-right-icon {
  background: url("../img/icon/Arrow-direction-right.svg");
  @apply block h-[16px] w-[16px] bg-100-auto bg-center bg-no-repeat;
}

.Arrow-red {
  background: url("../img/icon/Arrow-red.svg");
  @apply block h-[16px] w-[16px] bg-100-auto bg-center bg-no-repeat;
}

.Attention-icon {
  background: url("../img/icon/Attention.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.Blog-icon {
  background: url("../img/icon/Blog.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.Brand-products-icon {
  background: url("../img/icon/Brand-products.svg");
  @apply block h-[70px] w-[70px] bg-100-auto bg-center bg-no-repeat;
}

.Burger-menu-icon {
  background: url("../img/icon/Burger-menu.svg");
  @apply block h-[24px] w-[24px] bg-100-auto bg-center bg-no-repeat;
}

.Calendar-icon {
  background: url("../img/icon/Calendar.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.Check-box-active-icon {
  background: url("../img/icon/Check-box-active.svg");
  @apply block h-[24px] w-[24px] bg-100-auto bg-center bg-no-repeat;
}

.Check-box-inactive-icon {
  background: url("../img/icon/Check-box-inactive.svg");
  @apply block h-[24px] w-[24px] bg-100-auto bg-center bg-no-repeat;
}

.Contact-icon {
  background: url("../img/icon/Contact.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.Cross-icon {
  background: url("../img/icon/Cross.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.Cross-black-icon {
  background: url("../img/icon/Cross-black.svg");
  @apply block h-[24px] w-[24px] bg-100-auto bg-center bg-no-repeat;
}

.delete-icon {
  background: url("../img/icon/delete.svg");
  @apply block h-[16px] w-[16px] bg-100-auto bg-center bg-no-repeat;
}

.Deliver-Pay-icon {
  background: url("../img/icon/Deliver-Pay.svg");
  @apply block h-[70px] w-[70px] bg-100-auto bg-center bg-no-repeat;
}

.Delivery-icon {
  background: url("../img/icon/Delivery.svg");
  @apply block h-[60px] w-[60px] bg-100-auto bg-center bg-no-repeat;
}

.Doctor-icon {
  background: url("../img/icon/Doctor.svg");
  @apply block h-[70px] w-[70px] bg-100-auto bg-center bg-no-repeat;
}

.Drop-down-icon {
  background: url("../img/icon/Drop-down.svg");
  @apply block h-[16px] w-[16px] bg-100-auto bg-center bg-no-repeat;
}

.Facebook-icon {
  background: url("../img/icon/Facebook.svg");
  @apply block h-[16px] w-[16px] bg-100-auto bg-center bg-no-repeat;
}

.FAQ-icon {
  background: url("../img/icon/FAQ.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.Filter-icon {
  background: url("../img/icon/Filter.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.Home-icon {
  background: url("../img/icon/Home.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.instagram-icon {
  background: url("../img/icon/instagram.svg");
  @apply block h-[16px] w-[16px] bg-100-auto bg-center bg-no-repeat;
}

.Mail-icon {
  background: url("../img/icon/Mail.svg");
  @apply block h-[24px] w-[24px] bg-100-auto bg-center bg-no-repeat;
}

.Medicare-icon {
  background: url("../img/icon/Medicare.svg");
  @apply block h-[70px] w-[70px] bg-100-auto bg-center bg-no-repeat;
}

.Minus-icon {
  background: url("../img/icon/Minus.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.Plus-icon {
  background: url("../img/icon/Plus.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.Prescription-icon {
  background: url("../img/icon/Prescription.svg");
  @apply block h-[54px] w-[54px] bg-100-auto bg-center bg-no-repeat;
}

.Products-icon {
  background: url("../img/icon/Products.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.Search-icon {
  background: url("../img/icon/Search.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.Search-medicals-icon {
  background: url("../img/icon/Search-medicals.svg");
  @apply block h-[48px] w-[48px] bg-100-auto bg-center bg-no-repeat;
}

.Share-icon {
  background: url("../img/icon/Share.svg");
  @apply block h-[16px] w-[16px] bg-100-auto bg-center bg-no-repeat;
}

.telegram-icon {
  background: url("../img/icon/telegram.svg");
  @apply block h-[16px] w-[16px] bg-100-auto bg-center bg-no-repeat;
}

.Telephone-icon {
  background: url("../img/icon/Telephone.svg");
  @apply block h-[24px] w-[24px] bg-100-auto bg-center bg-no-repeat;
}

.Time-icon {
  background: url("../img/icon/Time.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.twitter-icon {
  background: url("../img/icon/twitter.svg");
  @apply block h-[16px] w-[16px] bg-100-auto bg-center bg-no-repeat;
}

.Home-icon-small {
  background: url("../img/icon/Home-icon.svg");
  @apply block h-[12px] w-[12px] bg-100-auto bg-center bg-no-repeat;
}