// Footer Style Start

.footer-bg {
  background: url("../img/Footer-bg-1.png");
  height: calc(100% + 84px);
  @apply block w-full bg-100-auto bg-top bg-no-repeat;
}

// Footer Style End

// Blog Card Style Start

.blog-card {
  $this: &;

  &__img {

    img {
      @apply rounded max-h-full w-full h-full;
    }

    @apply flex items-center justify-center mb-4 overflow-hidden min-h-[223px] h-[223px]
  }

  &__text {
    @apply text-Body6 text-grey
  }

  &__line {
    @apply my-6 flex items-center justify-between w-full
  }

  &__timeRead {
    @apply flex items-center text-grey text-Body6
  }

  &__content {
    @apply mb-8 flex flex-col
  }

  &__title {
    @apply font-semibold text-H2 mb-2 block
  }

  &--big {
    #{$this}__img {
      @apply min-h-[365px] h-[365px]
    }

    #{$this}__text {
      @apply text-Body3
    }
  }

  &--small {
    #{$this}__img {
      @apply h-[98px] max-h-[98px] min-h-[98px] w-[133px] min-w-[133px] mb-0
    }

    #{$this}__text {
      @apply hidden
    }

    #{$this}__line {
      @apply hidden
    }

    #{$this}__timeRead {
      @apply hidden
    }

    .button-text-arrow {
      @apply hidden
    }

    #{$this}__content {
      @apply mb-0 mt-3
    }

    #{$this}__title {
      @apply text-Body mb-0
    }

    @apply flex-row items-center p-5 gap-x-4
  }

  @apply flex flex-col justify-between p-8 md:p-4 bg-white hover:shadow-color-1 outline-1 outline-dashed outline-light-grey transition rounded
}

// Blog Card Style End

// Button with arrow Style Start
.button-text-arrow {
  @apply flex items-start gap-x-2 text-primary uppercase hover:text-yellow transition-colors flex w-full mt-auto
}
// Button with arrow Style End

// Checkbox Style Start

.custom-checkbox {

  &__block {
    @apply relative -top-[1px]
  }

  input[type='checkbox'] {
    @apply hidden;
  }

  input[type='checkbox']:checked + .checkmark {
    @apply flex;
  }

  .checkmark {
    @apply absolute hidden -top-[1px] left-0 flex items-center justify-center pointer-events-none;
  }

  @apply relative inline-flex items-center cursor-pointer;
}

// Checkbox Style End

// Pagination Style Start

.pagination-button {
  $this: &;

  &--disabled {
    cursor: auto;
    pointer-events: none;

    #{$this}--arrow {
      @apply block
    }

    #{$this}--arrow-red {
      @apply hidden
    }

    @apply border-light-grey
  }

  &:not(#{$this}--disabled) {
    #{$this}--arrow {
      @apply hidden
    }

    #{$this}--arrow-red {
      @apply block
    }
  }

  @apply flex items-center justify-center text-none size-10 border rounded-full border-red;
}

// Pagination Style End

// FAQ Style Start

.FAQ-block {
  &__icon {
    @apply w-8 min-w-8 h-8 flex items-center justify-center mr-5 font-semibold uppercase text-Body4 rounded-full overflow-hidden;
  }
}

// FAQ Style End

// Mega Menu Header Style Start

.mega-menu {
  &__items {
    &.active {
      @apply border-b-[5px] border-yellow font-semibold
    }

    @apply border-b-[5px] border-transparent h-full pt-1 transition-all hover:border-yellow
  }

  &__line {

    span {
      @apply absolute top-[5px] -translate-y-1/2
    }

    @apply relative h-[30px]
  }
}

// Mega Menu Header Style End

.triangle {
  background: url("../img/bg-yellow-svg.svg");
  @apply flex bg-cover bg-right-top bg-no-repeat;
}

.mySwiper, .mySwiper2 {
  .swiper-slide {
    @apply flex items-center justify-center border border-super-light-grey rounded overflow-hidden;
  }
}